header{
    width: 100%;
    height: 60px;
    background: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itens-header{
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
    margin-right: 80px;
    cursor: pointer;
}

.marvelIMG{
    width: 80px;
    margin-left: 100px;
}

.spiderIMG{
    height: 50px;
    margin-left: 50px;
    
}

